<footer class="footer" role="contentinfo">
    <div class="flex-container">
        <div class="flex-row">
            <div class="footer__section footer__brand flex-col-xs-12 flex-col-md-3 flex-col-lg-2">
                <div class="footer__logo">
                    <a class="footer__logo-link" href="/" title="Home page">
                        <img class="footer__logo-image" src="{{ CDNURL }}/sitefiles/{{ Site.SiteId }}/images/elements-logo.svg" alt="Elements logo">
                    </a>
                </div>
                <p>Lorem ipsum dolor sunt amet in dolor velit dis aqua.</p>
            </div>
            <div class="footer__section footer__links flex-col-xs-12 flex-col-sm-4 flex-col-md-3 flex-col-lg-offset-1">
                <h6>Links</h6>
                <!-- Replace example menu with a SiteWrench generated version -->
                <ul>
                    <li><a href="#">Menu Item</a></li>
                    <li><a href="#">Menu Item</a></li>
                    <li><a href="#">Menu Item</a></li>
                    <li><a href="#">Menu Item</a></li>
                    <li><a href="#">Menu Item</a></li>
                </ul>
            </div>
            <div class="footer__section footer__contact flex-col-xs-12 flex-col-sm-4 flex-col-md-3">
                <h6>Contact</h6>
                <!-- Recommended to replace with editable content -->
                <p>Street Address<br>
                City, State 00000</p>
                <p>(000) 000-0000</p>
                <p>info@domain.com</p>
            </div>
            <div class="footer__section footer__social flex-col-xs-12 flex-col-sm-4 flex-col-md-3">
                <h6>Social</h6>
                <!-- Replace example menu with a SiteWrench generated version -->
                <ul>
                    <li><a href="facebook" title="Facebook"></a></li>
                    <li><a href="twitter" title="Twitter"></a></li>
                    <li><a href="instagram" title="Instagram"></a></li>
                    <li><a href="youtube" title="YouTube"></a></li>
                    <li><a href="linkedin" title="LinkedIn"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer__end">
            <div class="footer__copyright">
                <p><script>document.write(new Date().getFullYear())</script> &copy; Speak Creative. All rights reserved.</p>
            </div>
            <div class="footer__credit">
                <p><a class="site-credit-link" href="https://www.madebyspeak.com" target="_blank"><span>Memphis </span>Web Design by Speak</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="{{ CDNURL }}/sitefiles/{{ Site.SiteId }}/js/min/global-min.js" type="text/javascript"></script>
<script src="{{ CDNURL }}/sitefiles/{{ Site.SiteId }}/js/min/dynamic-min.js" type="module"></script>