<div class="calendar-listings content-block">
  <div class="event-cards event-cards--three-cols">
    {% for event in Events %}
      <div class="event-card">

        <div class="event-card__photo">
          {% if event.RelatedImageFileKey != blank %}
            <img src="{{ event.RelatedImageFileKey }}" alt="{{ event.Subject }}">
          {% else %}
            <span class="event-card__logo">
              <svg>
                <use xlink:href="#elements-logo"></use>
              </svg>
            </span>
          {% endif %}
        </div>

        <div class="event-card__content">
          <div class="event-card__details">

            <div class="event-card__date">
              <span class="event-card__date--month">
                {{ event.StartDateTime | DateFormat:"MMM",event.TimeZone }}
              </span>
              <span class="event-card__date--day">
                {{ event.StartDateTime | DateFormat:"dd",event.TimeZone }}
              </span>
            </div>

            <div class="event-card__info">

              <header class="event-card__info__header">
                <h4 class="event-card__title">
                  <a href="{% CalendarEventLink event:event sitePage:Module.FieldValues.CalendarSource.SitePage %}">{{ event.Subject }}</a>
                </h4>
                <div class="event-card__date-text">{{ event.DateTimeText }}</div>
                {% if event.SiteTags.size > 0 %}
                  <div class="event-card__tags tags">
                    {% for tag in event.SiteTags %}
                      <a href="{% CalendarFilteredTagLink tag:tag sitePage:Module.FieldValues.CalendarSource.SitePage settings:Module.FieldValues.CalendarSource.Settings %}">{{tag.Label}}</a>
                    {% endfor %}
                  </div>
                {% endif %}
                <p class="event-card__excerpt">{{ event.Description | StripHtml | Truncate:210 }}</p>
              </header>

              <div class="event-card__cta">
                <a href="{% CalendarEventLink event:event sitePage:SitePage %}" class="link">
                  Read More
                </a>
              </div>

            </div>

          </div>
        </div>

      </div>
    {% endfor %}
  </div>
</div>

{% if Pagination.HasPrevious or Pagination.HasNext %}
    <nav class="events-nav">

      {% if Pagination.HasPrevious %}
        <div class="events-nav__item events-nav__item--prev">
          <a class="events-nav__link" href="{% BlogLinkForPage filterTag:Tag.URLFriendlyName filterMonth:Filter.Month filterYear:Filter.Year sitePageSlug:SitePage.Slug sitePageId:SitePage.SitePageId page:Pagination.PreviousPage %}">
            <span class="events-nav__icon">
              <svg>
                <use xlink:href="#angle-left"></use>
              </svg>
            </span>
            <span class="events-nav__text">
              Page {{ Pagination.PreviousPage }}
            </span>
          </a>
        </div>
      {% endif %}

      {% if Pagination.HasNext %}
        <div class="events-nav__item events-nav__item--next">
          <a class="events-nav__link" href="{% BlogLinkForPage filterTag:Tag.URLFriendlyName filterMonth:Filter.Month filterYear:Filter.Year sitePageSlug:SitePage.Slug sitePageId:SitePage.SitePageId page:Pagination.NextPage %}">
            <span class="events-nav__text">
              Page {{ Pagination.NextPage }}
            </span>
            <span class="events-nav__icon">
              <svg>
                <use xlink:href="#angle-right"></use>
              </svg>
            </span>
          </a>
        </div>
      {% endif %}

    </nav>
  {% endif %}

